<h2>Products</h2>
<div *ngFor="let product of products; index as productId">
  <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
    名称: {{ product.name }}
  </a> 
  <p>价格: {{ product.price | currency }}</p>
  <p *ngIf="product.description">描述: {{ product.description }}</p>
  <button (click)="buy(product)">Buy it!</button>
  <app-product-alerts [product]="product" (notify)="onNotify(product)"></app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->